# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.xml
*.len
*.dat.values
*.dat
*.dat.values.at
*.dat.values.s
*.dat_i
*.pyc
