{{define "title"}}Interaction{{end}}
{{define "content"}}
    <div class="titled-items">
        <div class="titled-it">
            <p class="it-title">Boost Mode</p>
            <label class="toggle">
                <input id="boost" type="checkbox"/>
                <span class="slider"></span>
            </label>
        </div>
        <div class="titled-it">
            <p class="it-title">Status:</p>
            <p>Online</p>
        </div>
    </div>
    <div class="tabs">
        <button class="active-tab" id="history-tab" aria-controls="history-body">History</button>
        <button id="uploads-tab" aria-controls="uploads-body">Uploads</button>
        <button id="explorer-tab" aria-controls="explorer-body">File explorer</button>
        <button id="terminal-tab" aria-controls="terminal-body">Terminal</button>
        <button id="cronjob-tab" aria-controls="cronjob-body">Cron-Job</button>
        <button id="sniffer-tab" aria-controls="sniffer-body">Sniffer</button>
    </div>
    <div class="tab-body active-body" id="history-body">
        {{template "history.html"}}
    </div>
    <div class="tab-body" id="uploads-body">
        {{template "uploads.html"}}
    </div>
    <div class="tab-body" id="explorer-body">

    </div>
    <div class="tab-body" id="terminal-body">

    </div>
    <div class="tab-body" id="cronjob-body">

    </div>
    <div class="tab-body" id="sniffer-body">

    </div>
    <script>
        $(document).ready(function () {
            setCurrWorkerId();
            setupBoostToggle();
            initTabs();
        });
    </script>
{{end}}