#worker-table td {
    color: #343a40;
}

.action-btn {
    padding: 0 2px 0 2px !important;
    font-size: 1.2em !important;
}

#action-tabs .nav-link {
    color: #343a40;
}

#action-tabs .nav-link.active {
    background-color: #343a40;
    color: white;
}

