html {
    font-family: helvetica, serif;
}

body {
    padding: 0;
    margin: 0;
}

#body-content {
    margin: auto;
    width: 70%;
    padding-top: 7px;
}


.action-btn {
    padding: 0 2px 0 2px;
    font-size: 1.2em;
    cursor: pointer;
    background: none;
    border: none;
}

#worker-table thead {
    color: white !important;
    background-color: #343a40 !important;
}

#action-tabs .nav-link {
    color: #343a40;
}

#action-tabs .nav-link.active {
    background-color: #343a40;
    color: white;
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343a40;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #b2beb5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    color: white;
}

#logo {
    font-size: 1.3em;
    font-weight: bold;
    color: white;
}

/* Table */

.table {
    border-collapse: collapse;
    width: 100%;
    /* width */
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

/*
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}*/

/* Modal Dialog */

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    background-color: white;
    width: 500px;
    height: 320px;
    overflow: hidden;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.modal-head, .modal-foot {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.modal-body {
    padding: 20px;
    height: 70%;
    overflow-y: auto;
}

.modal-head {
    border-bottom-width: 1px;
    border-bottom-color: silver;
    border-bottom-style: solid;
    height: 15%;
}

.modal-foot {
    border-top-width: 1px;
    border-top-color: silver;
    border-top-style: solid;
    height: 20%;
}

.modal-title {
    margin-right: auto;
    padding: 0 0 0 20px;
    font-size: 1.2em;
}

.modal-close {
    color: #aaaaaa;
    margin-left: auto;
    padding: 0 15px 0 10px;
    font-size: 1.4em;
    border: none;
    background: none;
    cursor: pointer;
}

.modal-close:hover {
    color: black;
}