{% extends 'layout.html' %}
{% block content %}
    <div class="tabs">
        <button class="active-tab" id="history-tab" onclick="loadContent('#history-tab')">History</button>
        <button id="downloads-tab" onclick="loadContent('#downloads-tab')">Downloads</button>
        <button id="manager-tab" onclick="loadContent('#manager-tab')">File manager</button>
        <button id="terminal-tab" onclick="loadContent('#terminal-tab')">Terminal</button>
        <button id="creds-tab" onclick="loadContent('#creds-tab')">Credentials</button>
        <button id="cronjob-tab" onclick="loadContent('#cronjob-tab')">Cron-Job</button>
        <button id="sniffer-tab" onclick="loadContent('#sniffer-tab')">Sniffer</button>
    </div>
    <div class='tab-body active-body' id="history-body">
        <table id="jobs-table">
        <thead>
        <tr>
            <th><input class="all-select" type="checkbox" onclick="selectAllRows('#jobs-table')"></th>
            <th>ID</th>
            <th>Job</th>
            <th>Completed</th>
            <th>Created</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for j in jobs %}
            <tr>
                <td class="dt-body-center"><input class="one-select" type="checkbox" value="{{ j.id }}"/></td>
                <td>{{ j.id }}</td>
                <td>{{ j.args }}</td>
                <td>{{ 'YES' if j.completed else 'NO' }}</td>
                <td>{{ j.created }}</td>
                <td>
                    <button type="button" onclick="removeJob('{{ j.id }}')" class="action-btn del-btn">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class='tab-body' id="manager-body">

    </div>
    <div class='tab-body' id="terminal-body">

    </div>
    <div class='tab-body' id="creds-body">

    </div>
    <div class='tab-body' id="cronjob-body">

    </div>
    <div class='tab-body' id="sniffer-body">

    </div>
    <div class='tab-body' id="history-body">

    </div>
    <script>
        $(document).ready(function () {
            jobsTable = $('#jobs-table').DataTable({
                columnDefs: [{
                    searchable: false,
                    orderable: false,
                    targets: [0, 5]
                }
                ],
                order: [[ 1, 'asc' ]]
            });
            setCurrWorkerId();
        });
    </script>
{% endblock %}