{% extends 'layout.html' %}
{% block content %}
    <div class="tabs">
        <button class="active-tab" id="history-tab" aria-controls="history-body" onclick="loadContent(this)">History
        </button>
        <button id="downloads-tab" aria-controls="downloads-body" onclick="loadContent(this)">Downloads</button>
        <button id="manager-tab" aria-controls="manager-body" onclick="loadContent(this)">File manager</button>
        <button id="terminal-tab" aria-controls="terminal-body" onclick="loadContent(this)">Terminal</button>
        <button id="creds-tab" aria-controls="creds-body" onclick="loadContent(this)">Credentials</button>
        <button id="cronjob-tab" aria-controls="cronjob-body" onclick="loadContent(this)">Cron-Job</button>
        <button id="sniffer-tab" aria-controls="sniffer-body" onclick="loadContent(this)">Sniffer</button>
    </div>
    <div class="tab-body active-body" id="history-body">
        {% include 'history.html' %}
    </div>
    <div class="tab-body" id="manager-body">

    </div>
    <div class="tab-body" id="terminal-body">

    </div>
    <div class="tab-body" id="creds-body">

    </div>
    <div class="tab-body" id="cronjob-body">

    </div>
    <div class="tab-body" id="sniffer-body">

    </div>
    <div class="tab-body" id="history-body">

    </div>
    <script>
        $(document).ready(function () {
            jobsTable = $('#jobs-table').DataTable({
                columnDefs: [{
                    searchable: false,
                    orderable: false,
                    targets: [0, 5]
                },
                    {
                        className: 'dt-body-center',
                        targets: [0]
                    }
                ],
                order: [[1, 'asc']],
                {#columns: [
                {data: 'id', title: 'ID'},
                {data: 'todo', title: 'ToDo'},
                {data: 'is_done', title: 'Completed'},
                {data: 'created', title: 'Created'},
                {data: 'action', title: 'Action'}]#}
            });
            setCurrWorkerId();
        });
    </script>
{% endblock %}