{% extends 'layout.html' %}

{% block content %}
    <table id="worker-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Hostname</th>
            <th>IP-Address</th>
            <th>OS</th>
            <th>Country</th>
            <th>Last-Seen</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for w in workers %}
            <tr>
                <td>{{ w.id }}</td>
                <td>{{ w.hostname }}</td>
                <td>{{ w.ip_addr }}</td>
                <td>{{ w.os }}</td>
                <td>{{ w.country }}</td>
                <td>{{ w.last_seen }}</td>
                <td>
                    <button type="button" class="action-btn"
                            onclick="document.location.href='{{ url_for('interact', wid=w.id) }}';">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="action-btn" onclick="showResourceInfo({{ w.id }})">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="resource-dlg" class="modal-bg" style="display: none">
        <div class="modal">
            <div class="modal-head">
                <p class="modal-title">Resource Info</p>
                <button class="modal-close" type="button" onclick="$('#resource-dlg').css('display', 'none')">
                    <i class="fa fa-window-close" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <table id="rsrc-table" class="table">
                    <tbody>
                    <tr>
                        <th>CPU</th>
                        <td id="cpu-info"></td>
                    </tr>
                    <tr>
                        <th>GPU</th>
                        <td id="gpu-info"></td>
                    </tr>
                    <tr>
                        <th>RAM</th>
                        <td id="ram-info"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-foot">
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#worker-table').DataTable({
                aoColumnDefs: [{
                    bSortable: false,
                    bSearchable: false,
                    aTargets: [6]
                }
                ]
            });
            loadResourceInfo();
        });
    </script>
{% endblock %}